* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: black;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  cursor: pointer;
  width: 340px;
  height: 480px;
}

.front, .back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .9s linear;
}

.front img {
  height: 100%;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(180deg);
  background: #f4f4f4;
}

.back-content {
  color: #535c68;
  text-align: center;
  width: 100%;
}

.back-content-header {
  transition: 0.9s;
}

.back-content-header:hover {
  transform: scale(1.06);
  color: #ff4757;
}

.sm {
  margin: 20px 0;
}

.sm a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #535c68;
  font-size: 18px;
  transform: 0.4s;
  border-radius: 50%;
}

.sm a:hover {
  background: #1e90ff;
  color: white
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}