*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
body
{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebecf0;
}
div, p
{
   color: #babecc;
   text-shadow: 1px 1px 1px #fff;
}
p
{
	text-align: center;
	margin-top: 20px;
	font-weight: 800;
	font-size: 16px;
}

.login-form
{
	width: 350px;
	height: auto;
}
.form-title
{
	text-align: center;
	padding: 25px 0;

}
label
{
	display: block;
	margin-bottom: 24px;
	width: 100%;

}
input
{
	margin-right: 8px;
	box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
	width: 100%;
	transition: all 0.2s ease-in-out; 
	appearance:none;
	-webkit-appearance:none;
}
button, input
{
	border: 0;
	outline: 0;
	font-size: 16px;
	border-radius: 320px;
	padding: 16px;
	background-color: #ebecf0;
	text-shadow: 1px 1px 0 #fff;
}

input:focus
{
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;

}
button
{
	color: #61677c;
	font-weight: bold;
	box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	font-weight: 600;
	
}
button:hover
{
	box-shadow: -2px -2px 5px #fff,  2px 2px 5px #babecc;
}
button:active
{
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.red
{
	display: block;
	width: 100%;
	color: #ae1100;
}
.red i
{
	margin-right: 5px;
	
}
.social-media
{
	padding: 25px 0;
	text-align: center;
	
}
.social-media .social-icons
{
   border-radius: 8px;
   line-height: 0;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 0 8px;
   font-size: 18px;
}
.remember-me
{
	display: flex;
	align-items: center;
	padding-bottom: 20px;

}
.input-checkbox
{
	display: none;
}
.label-checkbox
{
	margin: 0;
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}

.label-checkbox::before
{
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 13px;
	color: transparent;
	display: flex;
	justify-content: center;
	align-items:center;
	position: absolute;
	left: 0px;
	top: 50%;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	background-color: #e6e6e6;
	transform: translateY(-50%);
	-webkit-transform:translateY(-50%);

}
.input-checkbox:checked + .label-checkbox::before
{
	color: #c87ef0;
}

.txt1
{
	font-size: 15px;
	color: #a28080;
	line-height: 1.4;
}